<footer id="footer" ms.pgarea="footer" class="footer-layout">
  <div class="container" role="contentinfo">
    <a href="https://docs.microsoft.com/" class="logo"><img src="_themes/images/logo-ms.png" alternate="Microsoft"></p></a>
    <ul class="links" ms.cmpgrp="footer link">
      <li><a id="footer-privacy-link" href="//privacy.microsoft.com/en-US/"><%= privacy.statement %></a></li>
      <li><a href="//www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx"><%= terms.of.use %></a></li>
      <li><a href="//aka.ms/sitefeedback"><%= feedback %></a></li>
      <li id="impressum-section"><a id="impressum-link" href="#"><%= impressum.text %></a></li>
      <li><a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx"><%= trademarks %></a></li>
    </ul>
  </div>
</footer>