<header id="header" ms.pgarea="header">
    <div id="cookie-consent-section" class="banner">
        <div class="row">
            <div class="left" id="cookie.consent.europe"></div>
            <div class="middle"><a id="privacystatement-link" tabindex="1" href="#"></a></div>
            <div class="right"><a tabindex="1" id="close"></a></div>
        </div>
    </div>
  <div id="common-nav-placeholder">
    <div class="container" role="banner">
      <a href="https://docs.microsoft.com/"><p class="mslogo" id="microsoft">&nbsp;</p></a>
      <!-- Disable lang picker temporarily -->
      <div class="lang-picker lang-hover" style="display:none"><span class="selected-lang"></span><i class="arrow"></i></div>
      <div class="lang-list lang-hover" style="display:none;">
         <div class="three-column-container">
             <div class="three-column-inner">
                 <div class="three-column-1" >
                     <ul></ul>
                 </div>
                 <div class="three-column-2">
                     <ul></ul>
                 </div>
                 <div class="three-column-3" >
                     <ul></ul>
                 </div>
             </div>
         </div>
         <div class="two-column-container" >
             <div class="two-column-1">
                 <ul></ul>
             </div>
             <div class="two-column-2">
                 <ul></ul>
             </div>
         </div>
      </div>
    </div>
  </div>
  <div id="sub-header" class="container" ms.cmpgrp="breadcrumb" role="navigation" aria-label="breadcrumb">
    <ul class="breadcrumbs"></ul>
    <ul class="headerlink">
        <li><a href="https://aka.ms/abouttechnicaldocs" id="subheader.aboutdocs"></a></li>
    </ul>
  </div>

  </div>
</header>